@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

.font-fraunces{
    font-family: 'Fraunces', serif;
}

.font-barlow{
    font-family: 'Barlow', sans-serif;
}